.boyutvehamur {
    width: 435px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 0;
    font-family: "Barlow", sans-serif;
}

.hamur span,
.boyut span {
    color: var(--kirmizi);
}

.boyut-legend {
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 600;
}

.formgroup-radio {
    margin-bottom: .5rem;
}

.formgroup-radio input {
    margin: .5rem;
}


.hamur {
    margin-right: 5rem;
}

.hamur label {
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 600;
    display: block;
}

@media (max-width: 900px) {
    .boyutvehamur {
        width: 435px;


    }


    .boyut-legend {

        font-size: 14px;

    }


    .hamur label {

        font-size: 14px;

    }

    .hamur {
        margin-right: 0;
    }


}

@media (max-width: 800px) {
    .boyutvehamur {
        width: 80%;
        font-size: 14px;

    }


    .boyut-legend {

        font-size: 14px;

    }


    .hamur label {

        font-size: 14px;

    }

    .hamur {
        margin-right: 0;
    }


}