.ekmalzemeler {
    width: 435px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Barlow", sans-serif;

}

.ekmalzemeler h2 {
    padding: .5rem 0;
}

.ekmalzemeler p {
    padding: .5rem 0;
    margin-bottom: 2rem;
}

.ekmalzemeler input {
    margin: .5rem .3rem .5rem .1rem;
}

.ekmalzemeler-form {
    display: flex;
    flex-wrap: wrap;


}

.ekmalzemeler-formgroup {
    width: 33.3%;
    margin-bottom: .5rem;


}




@media (max-width: 900px) {
    .ekmalzemeler h2 {
        font-size: 16px;
    }

    .ekmalzemeler p {
        font-size: 14px;
    }




}

@media (max-width: 800px) {
    .ekmalzemeler {
        width: 80%;


    }

    .ekmalzemeler-formgroup {
        width: 50%;
        margin-bottom: .5rem;
        font-size: 14px;


    }



}