.page1 {
    width: 100%;


}



.home1-img {
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

.home1-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    color: var(--bej);
    letter-spacing: 1.5px;
    text-align: center;
}

.home1-h1 {
    font-family: "Londrina Solid", sans-serif;
    width: 700px;
    font-size: 50px;
    font-weight: 900;
}

.home1-h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 75px;
    font-weight: 300;
    line-height: 110%;
    letter-spacing: 1.5px;
    margin-top: 3rem;
}

.home1-button {
    cursor: pointer;
    padding: .8rem 3rem;
    background-color: var(--sari);
    border-radius: 5rem;
    font-weight: 600;
    border: none;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
}

/* birinci bölüm  */
.container20,
.container1 {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: 530px !important;
    color: var(--koyu-gri);
    margin: auto;


}





.card-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.card1 {
    background-image: url(../assets/kart-1.png);
    border-radius: 1.25rem;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25rem;
    height: 20rem;
}

.card1 h1 {
    font-family: Quattrocento;
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 4.063rem;
    text-align: left;
    color: white;
    width: 0.625rem;
    margin-left: 4%;
    margin-top: 4%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.card1 h3 {
    font-family: Quattrocento;
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 2.813rem;
    text-align: left;
    color: white;
    width: 0.625rem;
    margin-left: 4%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
}

.card1 h2 {
    font-family: Barlow;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2.188rem;
    text-align: left;
    color: white;
    margin-left: 4%;
    margin-top: 1%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.card-items2 {
    display: block;
}

.card2 {
    background: url(../assets/kart-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1.25rem;
    width: 25rem;
    height: 10rem;

}

.card2 h1 {
    font-family: Barlow;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.563rem;
    text-align: left;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0.938rem;
    padding-top: 5%;
}

.card2 h2 {
    font-family: Barlow;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.563rem;
    text-align: left;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0.938rem;
}

.card3 {
    background-image: url(../assets/kart-3.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1.25rem;
    width: 25rem;
    height: 10rem;

}

.card3 h1 {
    font-family: Barlow;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.563rem;
    text-align: left;
    color: #292929;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0.938rem;
    padding-top: 5%;
}

.card3 h2 {
    font-family: Barlow;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.563rem;
    text-align: left;
    color: #292929;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0.938rem;
}

.card-items button {
    font-family: Barlow;
    font-size: 0.7rem;
    font-weight: 800;
    text-align: center;
    background: white;
    color: #CE2829;
    border-radius: 1.375rem;
    padding: 0.625rem 1.563rem;
    margin: 0.938rem;
    border: white;
    cursor: pointer;
}

.container3 {
    margin: 20px auto;
}

.container3 h1 {
    color: #CE2829;
    font-size: 1.6rem;
    font-family: Satisfy;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;

}

.container3 h2 {
    font-family: Barlow;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding-top: 0rem;
    margin-top: 0rem;
}



.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 4rem;
}

.sayilar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 14rem;
}

.container4 h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

.container4 p {
    font-size: 12px;
    padding: 0rem;
    margin: 0rem;
}

.container4 {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 10px;
    padding: 2rem;

    font-family: "Barlow", sans-serif;
}

.container4 img {
    width: 16rem;
}

.container20,
.container1 {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    padding: 1.125rem;

}

.container20 img,
.container1 img {
    aspect-ratio: 1/1;
    width: 2.625rem;
}

.meal-items20,
.meal-items {
    display: flex;
    flex-direction: row;
    gap: 0.313rem;
    align-items: center;
}

.siyah-pizza {
    position: relative;
    color: var(--bej);
    background: transparent;
}

.siyah-pizza::before {
    content: '';
    background-color: #292929;
    position: absolute;
    left: -25px;
    z-index: -1;
    width: 105px;
    padding: 0 10px;
    height: 130%;
    border-radius: 50px;
}

/* .container20 {
    display: flex;
    gap: 2.5rem;
    padding: 1.125rem;
    justify-content: center;
}

.container20 img {
    aspect-ratio: 1/1;
    width: 2.625rem;
} */

/* .meal-items20 {
    display: flex;
    flex-direction: row;
    gap: 0.313rem;
    align-items: center;
} */
@media (max-width: 1000px) {

    .content4 {
        transform: scale(.9);
    }
}

@media (max-width: 800px) {
    .content4 {
        transform: scale(none);
    }

    .container20,
    .container1 {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 480px !important;
        justify-content: space-between;
        gap: 10px;
    }

    .meal-items20,
    .meal-items {
        width: 130px;
        margin-bottom: 5px;
    }

    .card-items,
    .container4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {}

@media (max-width: 650px) {
    .home1-h1 {
        font-size: 30px;
    }

    .home1-h2 {
        font-size: 55px;
    }








}

@media (max-width: 540px) {

    .home1-h2 {
        font-size: 55px;
        width: 40%;
    }

    .container20,
    .container1 {
        width: 330px !important;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0 auto;
        gap: 10px;
    }






}

@media (max-width:420px) {
    .card-items {
        transform: scale(.9);
    }

    .home1-h2 {
        font-size: 50px;
    }
}

@media (max-width: 360px) {
    .home1-h1 {
        font-size: 28px;
    }

    .card-items {
        transform: scale(.8);
    }

    .home1-h2 {
        font-size: 45px;
    }
}