header {
    width: 100%;
}

.home1-img {
    object-fit: cover;
    min-height: 100vh;
    width: 100%;


}

.home1-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-family: "Roboto Condensed", sans-serif;
    color: var(--bej);
    letter-spacing: 1.5px;
    text-align: center;
}

.home1-h1 {
    width: 700px;

    font-size: 40px;
    font-weight: 900;
}

.home1-h2 {

    font-size: 70px;
    font-weight: 300;
    line-height: 80px;
}

.home1-button {
    padding: .8rem 3rem;
    background-color: var(--sari);
    border-radius: 5rem;
    font-weight: 550;
    border: none;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
}

@media (max-width:768px) {
    .home1-h2 {
        font-size: 60px;
        line-height: 70px;
    }

    .container4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container20 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 19rem;
        justify-content: space-between;
        margin: 0 auto;
    }

    .container3 h2 {
        width: 19rem;
        text-align: center;
        margin: 1rem auto;
    }

    .card-items {
        display: flex;
        flex-direction: column;
    }

    .container1 {
        display: flex;
        flex-direction: row;
        width: 18rem;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 2rem;
        gap: 0.8rem;
    }



}

@media (max-width:520px) {


    .home1-h1 {
        width: 400px;
        font-size: 30px;
    }

    .home1-h2 {
        font-size: 50px;
        line-height: 60px;
    }
}

@media (max-width:420px) {
    .home1-h1 {
        width: 300px;
        font-size: 28px;
    }
}



.container1 {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    padding: 1.125rem;
}

.meal-items {
    display: flex;
    flex-direction: row;
    gap: 0.313rem;
}



.card-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.card1 {

    border-radius: 1.25rem;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25rem;
    height: 20rem;
}

.card1 h1 {
    font-family: Quattrocento;
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 4.063rem;
    text-align: left;
    color: white;
    width: 0.625rem;
    margin-left: 4%;
    margin-top: 4%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.card1 h3 {
    font-family: Quattrocento;
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 2.813rem;
    text-align: left;
    color: white;
    width: 0.625rem;
    margin-left: 4%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
}

.card1 h2 {
    font-family: Barlow;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2.188rem;
    text-align: left;
    color: white;
    margin-left: 4%;
    margin-top: 1%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.card-items2 {
    display: block;
}

.card2 {
    background-image: url(../Assets/Iteration-2-aseets\cta\kart-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1.25rem;
    width: 25rem;
    height: 10rem;

}

.card2 h1 {
    font-family: Barlow;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.563rem;
    text-align: left;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0.938rem;
    padding-top: 5%;
}

.card2 h2 {
    font-family: Barlow;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.563rem;
    text-align: left;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0.938rem;
}

.card3 {
    background-image: url(../Assets/Iteration-2-aseets\cta\kart-3.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1.25rem;
    width: 25rem;
    height: 10rem;

}

.card3 h1 {
    font-family: Barlow;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.563rem;
    text-align: left;
    color: #292929;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0.938rem;
    padding-top: 5%;
}

.card3 h2 {
    font-family: Barlow;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.563rem;
    text-align: left;
    color: #292929;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0.938rem;
}

.card-items button {
    font-family: Barlow;
    font-size: 0.7rem;
    font-weight: 800;
    text-align: center;
    background: white;
    color: #CE2829;
    border-radius: 1.375rem;
    padding: 0.625rem 1.563rem;
    margin: 0.938rem;
    border: white;
}


.container3 h1 {
    color: #CE2829;
    font-size: 1.6rem;
    font-family: Satisfy;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    padding-top: 0.938rem;
}

.container3 h2 {
    font-family: Barlow;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding-top: 0rem;
    margin-top: 0rem;
}



.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 4rem;
}

.sayilar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 14rem;
}

.container4 h1 {
    font-size: 1.2rem;
}

.container4 p {
    font-size: 0.8rem;
    padding: 0rem;
    margin: 0rem;
}

.container4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
    min-width: 426px;
}

.container4 img {
    width: 16rem;
}

.container1 {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    padding: 1.125rem;

}

.container1 img {
    aspect-ratio: 1/1;
    width: 2.625rem;
}

.meal-items {
    display: flex;
    flex-direction: row;
    gap: 0.313rem;
    align-items: center;
}

.container20 {
    display: flex;
    gap: 2.5rem;
    padding: 1.125rem;
    justify-content: center;
}

.container20 img {
    aspect-ratio: 1/1;
    width: 2.625rem;
}

.meal-items20 {
    display: flex;
    flex-direction: row;
    gap: 0.313rem;
    align-items: center;
}

@media (max-width: 850px) {


    .container4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container20 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 19rem;
        justify-content: space-between;
        margin: 0 auto;
    }

    .container3 h2 {
        width: 19rem;
        text-align: center;
        margin: 1rem auto;
    }

    .card-items {
        display: flex;
        flex-direction: column;
    }

    .container1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 20rem;
        justify-content: space-between;
        margin: 0 auto;
    }


}