.orderpizza {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

.op-head {

    width: 100%;
    background-color: var(--kirmizi);



}

.op-head-text {

    color: var(--bej);
    width: 35%;
    margin: auto;
}

.op-h1 {
    font-family: "Quattrocento", serif;
    padding: 3rem 0;
    font-size: 3rem;

    text-align: center;
}

.op-p {
    font-family: "Barlow", sans-serif;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 300;

}

.op-p span {

    font-weight: 500;

}

.op-content {
    margin-top: 1rem;
    width: 35%;
    color: var(--koyu-gri);
    font-family: "Barlow", sans-serif;
}

.op-h2 {
    font-size: 24px;
    color: var(--koyu-gri);

}

.op-sayilar {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
}

.op-sayilar2 {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    width: 30%;
    font-weight: 400;
}

.not-form {
    width: 35%;
    padding-bottom: 2rem;


}

.not {
    width: 100%;

}

.not-input {
    width: 100%;
    padding: 1.2rem;
    border-radius: .5rem;

    font-size: 14px;
    font-weight: 500;

    text-align: left;


}

.not-label {
    display: block;
    font-size: 24px;
    font-weight: bold;
    padding: 2rem 0rem 1rem 0rem;
}