.counter {
    display: flex;
    justify-content: stretch;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    font-family: "Barlow", sans-serif;
}

.counter-btn {
    background-color: var(--sari);
    border-radius: 4px;
    border: none;
    padding: 1rem;
    color: var(--koyu-gri);
    cursor: pointer;
}

.counter-number {
    padding: 1.1rem;
}

.siparis-ozeti {
    width: 530px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 2rem;
    border-top: 1px solid lightgray;
    padding-bottom: 2rem;
    font-family: "Barlow", sans-serif;
    color: var(--koyu-gri);
    margin-bottom: 2rem;
}

.ozet {
    border: 1px solid lightgray;
    padding: 2rem;
    padding-bottom: 0;
    width: 60%;
}

.ozet>* {
    margin-bottom: 1rem;
}

.ozet-h2 {
    font-size: 20px;
}

.secimler {
    display: flex;
    justify-content: space-between;
    color: var(--acik-gri);
}

.toplam {
    display: flex;
    justify-content: space-between;
    color: var(--kirmizi);
    font-weight: 600;
}

.ozet-btn {
    width: 100%;
    background: var(--sari);
    padding: .9rem 0;
    border-radius: 4px;
    color: var(--koyu-gri);
    font-weight: 600;
    font-size: 16px;
    font-family: "Barlow", sans-serif;
    outline: none;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
}

.ozet-btn:disabled {
    opacity: 0.7;
}


@media (max-width: 768px) {
    .siparis-ozeti {
        width: 410px;
    }
}

@media (max-width: 540px) {
    .siparis-ozeti {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        padding-bottom: 0;
        width: 85%;
    }

    .ozet {
        width: 100%;
        margin-bottom: 30px;
        padding-bottom: 16px;
    }

    .ozet-btn {
        position: absolute;
        width: 50%;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        height: 48px;

    }

    .counter {
        height: 46px;
    }


}