.success {
    background-color: var(--kirmizi);
    width: 100%;

    color: var(--bej);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.success-h1 {
    font-family: "Londrina Solid", sans-serif;
    padding: 3rem 0;
    font-size: 50px;
}

.success-h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 83px;
    font-weight: 300;
    line-height: 110%;
    letter-spacing: 1.5px;
    border-bottom: 1px solid;
    padding-bottom: 3rem;


}

.success h3 {
    font-family: "Satisfy", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 44.27px;
    color: var(--sari);

}



.success-ozet {
    width: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.success-ozet .div1 {
    width: 350px;
}

.success-ozet h2,
.success-ozet h3 {
    font-family: "Barlow", sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: var(--bej);
}

.success-ozet h3 {
    margin: 30px 0;
}

.success-ozet .div2 {
    width: 450px;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    gap: 1rem;
    align-items: center;
}

.div1 p {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
    align-self: flex-start;
    text-align: left;
    margin-bottom: .5rem;
}

.div1 span {
    font-weight: 600;
}

.div2 {
    font-family: "Barlow", sans-serif;
    border: 1px solid var(--bej);
    border-radius: 6px;
    padding: 2rem;
    width: 400px;
    margin: 2rem 5rem;
    font-weight: 500;




}

.div2 p {
    width: 100%;
    color: var(--bej);
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;



}

.div2 h2 {
    font-size: 20px;
    align-self: flex-start;

}

@media (max-width: 768px) {
    .success-h1 {
        font-size: 30px;
        width: 278px;
    }

    .success-h2 {
        font-size: 55px;
        margin: 0 2rem;
    }

    .success h3 {
        font-size: 26px;
    }

}

@media (max-width: 540px) {
    .success-ozet {
        width: 80%;
    }

    .success-ozet h2,
    .success-ozet h3 {

        font-size: 20px;

    }

    .div1 p {
        font-size: 15px;
    }


    .div2 p {
        font-size: 16px;


    }

    .div1,
    .div2 {
        width: 80% !important;
    }

}