* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

:root {
  --sari: #FDC913;
  --acik-gri: #5F5F5F;
  --koyu-gri: #292929;
  --kirmizi: #CE2829;
  --bej: #FAF7F2;
}